#top {
    color: #636175;
}

button {
    color: #636175;
    list-style-type: none;
    text-decoration: none;
}

.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", serif;
    font-weight: 400;
    font-style: normal;
  }


/* 
hamburger(ハンバーガーアイコン)
=================================== */
.hamburger {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }
  
  .hamburger__line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: #595b71;
    transition: all 0.5s;
  }
  
  .hamburger__line--1 {
    top: 1px;
  }
  
  .hamburger__line--2 {
    top: 18px;
  }
  
  .hamburger__line--3 {
    top: 36px;
  }
  
  /*ハンバーガーがクリックされたら*/
  .open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
  }
  
  .open .hamburger__line--2 {
    opacity: 0;
  }
  
  .open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
  }
  
  /* 
  sp-nav(ナビ)
  =================================== */
  .sp-nav {
    position: fixed;
    right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 70%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  }

  .sp-nav .nav-menu {
    width: 90%;
    margin: 70px auto;
  }

  @media(min-width:960px) {
    .sp-nav {
        width: 30%;
    }

    .sp-nav .nav-menu {
        width: 75%;
        margin: 80px auto;
    }
  }
  
  /*ハンバーガーがクリックされたら右からスライド*/
  .open .sp-nav {
    right: 0;
  }
  
  
  /* 
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #595b71;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }
  
  /*ハンバーガーメニューが開いたら表示*/
  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }


/* 
doropdown
=================================== */

  .dropdown__btn {
    display: block;
    /*width: 1.5em;*/
    padding: 0.2em;
    background: none; /* デフォルトスタイル リセット */
    border: 0; /* デフォルトスタイル リセット */
    font-size: 100%;
    width: 100%;
    border-radius: 4px;
    text-align: left;
    transition: all 0.3s;
  }

  .dropdown__btn:hover {
    background-color: #e9e6f0;
    transition: all 0.3s;
  }

  .dropdown__body {
    width: 100%;
    background: #f0eff3;
    /*box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);*/
    border-radius: 4px;
    overflow: hidden;
    top: 32px;
    left: 0;
  }
  .dropdown__list { /* デフォルトスタイル リセット */
    margin: 0;
    padding: 0;
  }
  .dropdown__item {
    display: block;
  }
  .dropdown__item-link {
    display: block;
    padding: 1em 1.2em;
    font-size: 90%;
    text-decoration: none;
    color: #636175;
    transition: all 0.3s;
  }
  .dropdown__item-link:hover {
    background: #636175;
    color: #fff;
    transition: all 0.3s;
  }


  .dropdown__body {
    display: none;
  }
  .dropdown__btn.is-open + .dropdown__body {
    display: block;
    z-index: 4;
  }


.h-top {
    color: #636175;
    text-decoration: none;
    padding-right: 200px;
}

